<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zsy.bmw.dao.HouseMapper">

    <resultMap id="BaseResultMap" type="House">
        <id column="house_id" property="houseId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="creator_name" property="creatorName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="price" property="price" jdbcType="FLOAT"/>
        <result column="city_id" property="cityId" jdbcType="INTEGER"/>
        <result column="region_id" property="regionId" jdbcType="INTEGER"/>
        <result column="position" property="position" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="INTEGER"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="contact" property="contact" jdbcType="VARCHAR"/>
        <result column="des" property="des" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="getTopHouses" resultMap="BaseResultMap">
        select
        house_id, name
        from house
        order by house_id desc
    </select>


    <select id="getHeadImg" parameterType="java.lang.Integer" resultType="java.lang.String">
        select
        img
        from house_imgs
        where house_id = #{houseId}
        limit 1
    </select>

    <select id="getHouseById" resultMap="BaseResultMap">
        SELECT *
        from house
        where house_id = #{houseId}
        limit 1
    </select>

    <select id="getHouseBriefById" resultMap="BaseResultMap">
        SELECT house_id, name, price, position, area, des
        from house
        where house_id = #{houseId}
        limit 1
    </select>

    <select id="getHouseImgs" resultType="java.lang.String">
        SELECT img
        from house_imgs
        where house_id = #{houseId}
    </select>

    <select id="getHouseTagIds" resultType="java.lang.Integer">
        SELECT tag_id
        from house_tags
        where house_id = #{houseId}
    </select>

    <select id="getTagNames" resultType="java.lang.String">
        SELECT name
        from tag
        where tag_id IN
        <foreach item="id" collection="tagIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getHouseIdsByCondition" parameterType="HouseCondition" resultType="java.lang.Integer">
        SELECT name
        from tag
        where tag_id IN
        <foreach item="id" collection="tagIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="insertHouse" parameterType="House" useGeneratedKeys="true" keyProperty="houseId">
        INSERT INTO
        house(name, creator_name, price, city_id, position, area, phone, contact, des)
        VALUES (#{name}, #{creatorName}, #{price}, #{cityId}, #{position}, #{area}, #{phone}, #{contact}, #{des})
    </insert>

    <insert id="insertHouseImg">
        INSERT INTO
        house_imgs(house_id, img)
        VALUES(#{houseId}, #{imgUrl})
    </insert>

    <insert id="insertHouseTag">
        INSERT INTO
        house_tags(house_id, tag_id)
        VALUES(#{houseId}, #{tagId})
    </insert>


</mapper>