<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zsy.bmw.dao.NewsMapper">

    <resultMap id="BaseResultMap" type="News">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="creator_id" property="creatorId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="abstract" property="newsAbstract" jdbcType="VARCHAR"/>
        <result column="title_pic" property="titlePic" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, creator_id, create_time, title, abstract, title_pic, content
    </sql>


    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from news
    </select>


</mapper>