<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zsy.bmw.dao.NewsMapper">

    <resultMap id="BaseResultMap" type="News">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="creator_name" property="creatorName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="abstract" property="newsAbstract" jdbcType="VARCHAR"/>
        <result column="title_pic" property="titlePic" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="recommend" property="recommend" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="base_column_list">
        id, creator_name, create_time, title, abstract, title_pic, recommend
    </sql>

    <sql id="insert_column_list">
        creator_name, title, abstract, title_pic, recommend
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="base_column_list"/>
        from news
        order by id desc
    </select>

    <select id="selectRecommend" resultMap="BaseResultMap">
        select
        id, title
        from news
        where recommend = 1
        order by id desc
        limit 10
    </select>

    <select id="getContent" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT
        content
        from news_content
        where news_id = #{id}
    </select>

    <select id="getNewsByCreator" resultMap="BaseResultMap">
        SELECT
        id, create_time, title
        from news
        where creator_name = #{creatorName}
    </select>

    <insert id="insertNews" parameterType="News" useGeneratedKeys="true" keyProperty="id">
        insert into news
        (<include refid="insert_column_list"/>)
        values
        (#{creatorName}, #{title}, #{newsAbstract}, #{titlePic}, #{recommend})
    </insert>

    <insert id="insertContent" parameterType="News">
        insert into news_content
        (news_id, content)
        values
        (#{id}, #{content})
    </insert>

</mapper>